<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>

        $.ajax({
              type: 'GET',
              url: 'https://puntofun.com/cart.json',
              dataType: 'jsonp',
              success: function(data) {
                  console.log(data);
                  console.log("testing data from cart");

              }
        });
    </script>
</head>
<body>
<div id="testing"></div>
</body>
</html>
